* {
    box-sizing: border-box;
    padding:0;
    margin:0;
}

nav {
    position: sticky;
    z-index: 10;
    top:0;
    background-color: #222222;
    width:100%;
    color: #DDDDDD;
}
nav ul {
    list-style-type: none;
    display: flex;
}
nav a {
    display: block;
    padding: 1em;
    text-decoration: none;
    color: white;
    transition: all 0.4s ease;
}
nav a:hover {
    background-color: #AA22AA;
}
body {
    position: relative;
    min-height:100vH;
    padding-bottom: 200px;
    background-color: #EEEEEE;
}
body > section {
    margin: 2em;
    padding: 1em;
    /* background-color: #AAAAAA; */

}

footer {
    background-color: #1f1f1f;
    color: #DDDDDD;
    width: 100%;
    position: absolute;
    bottom:0;
    padding: 3em;
    text-align: center;
}
#records {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.record {
    display:block;
    width:40%;
    padding:2em;
    margin: 1em;
    background-color: #BBBBBB;
    box-shadow: #222222 0 5px 5px;
    position: relative;
}
.record.record-template {
    display:none;
    border: 1px solid red;
}
.record .record-content {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}
#loading {
    /* background: radial-gradient(white 10%, transparent 10%), linear-gradient(transparent 40%, #222222 40%, #222222 60%, transparent 60%), linear-gradient(90deg, transparent 40%, #222222 40%, #222222 60%, transparent 60%); */
   
    border: 10px solid grey;
    border-top: 10px solid #AA22AA;
    border-radius: 50px;
    height: 100px;
    width:100px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) rotate(0deg);
    transition: all 1s ease;
    animation:loading-rotate 1s infinite linear;
}
#loading.loaded {
    display: none;
}

@keyframes loading-rotate {
    0% {
        transform: translate(-50%,-50%) rotate(0deg);
    }
    50% {
        transform: translate(-50%,-50%) rotate(180deg);
    }
    100% {
        transform: translate(-50%,-50%) rotate(360deg);
    }
}

#paper {
    background: url(https://images.pexels.com/photos/235985/pexels-photo-235985.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 50%;
    height:auto;
    box-shadow: #222222 5px 5px 5px;
}
#paper article {
    font-family: 'Times New Roman', Times, serif;
    display: grid;
    min-height:50vh;
    width:100%;
    grid-template-columns: 5% 40% 10% 40% 5%;
    grid-template-rows: auto auto auto minmax(250px,50%) auto auto;
    grid-template-areas: '. header header header .'
                         '. . date . .'
                         '. headline headline headline .'
                         '. text text pic .'
                         '. text text pic .'
                         '. text2 text2 text2 .'
}
#article-image {
    background-color: #222222;
    background: url(https://images.pexels.com/photos/2346216/pexels-photo-2346216.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-position: 25% 75%;
    background-repeat: no-repeat;
    background-size: 150%;
    grid-area: pic;
    width:100%;
}

#paper h1 {
    text-align: center;
    grid-area: header;
    font-size: 1.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#paper h2 {
    font-size: 3em;
    text-align: center;
    grid-area: headline;
}
#article-date {
    text-align: center;
    white-space: nowrap;
    grid-area: date;
}
#article-text {
    grid-area: text;
}
#article-text-additional {
    grid-area: text2;
}

@media screen and (max-width: 800px) {
    #paper article {
        grid-template-areas: '. header header header .'
                         '. . date . .'
                         '. headline headline headline .'
                         '. pic pic pic .'
                         '. text text text .'
                         '. text2 text2 text2 .'
    }

}