
* {
    box-sizing: border-box;
    padding:0;
    margin:0;
    color: #DDDDDD;
    font-family: 'Oswald', sans-serif;
    /* font-family: 'Slabo 27px', serif; */
}

/*------------------------------------------------------------*/
/*                          NAV                               */
/*------------------------------------------------------------*/

nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 10;
    top:0;
    transition: top 0.4s ease;
    background-color: #362f2d;
    width:100%;
    color: #DDDDDD;
}
nav *{ 
    font-family: 'Special Elite', cursive;
}
#burger-icon{
    display:none;
}
.nav-up {
    top: -3em;
}
#player-nav {
    top:3em;
}
nav h1 {
    align-self: center;
    text-align: center;
    padding: 0.1em 1em;
    font-family: 'Special Elite', cursive;
}
nav ul {
    list-style-type: none;
    display: flex;
    padding: 0 1em;
}
nav a {
    display: block;
    padding: 0.9em;
    text-decoration: none;
    color: white;
    transition: all 0.4s ease;
    font-size: 1.4em;
}
nav a:hover {
    background-color: #AA22AA;
}
nav li.active {
    border-top: 2px solid #AA22AA;
}


/*------------------------------------------------------------*/
/*                          BODY                              */
/*------------------------------------------------------------*/

body {
    position: relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    min-height:100vH;
    max-width:100vw;
    overflow-x: hidden;
    padding-bottom: 200px;
    padding-top: 6em;
    background-color: #82766d;
    /* background: url(https://images.pexels.com/photos/552501/pexels-photo-552501.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-position: center;
    background-size: cover;
    background-attachment: fixed; */
}
body > section {

    padding: 1em;
    max-width: 90%;
    /* background-color: #AAAAAA; */

}


/*------------------------------------------------------------*/
/*                        FOOTER                              */
/*------------------------------------------------------------*/

footer {
    background-color: #362f2d;
    color: #DDDDDD;
    width: 100%;
    position: absolute;
    bottom:0;
    padding: 3em;
}
footer > ul {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    list-style: none;
}
footer li {
    display: flex;
}
footer li a {
    display: flex;
}
footer > ul img {
    margin:auto;
    max-width: 200px;
    max-height: 80px;
}
/*------------------------------------------------------------*/
/*                        WELCOME                             */
/*------------------------------------------------------------*/
#welcome-screen {
    display:flex;
    flex-direction: column;
    max-width:100%;
    padding:1em 0;
    width:100%;
    align-items: center;
    overflow:hidden;
}
#welcome-screen img {
    height:50vh;
    transform: translateX(-100%);
    transition: all 3s ease-in-out;
}
#join-game {
    background: url("../images/ticket.jpg");
    background-size: cover;
    width:10em;
    height:5em;
    color:#111111EE;
    margin:1em 0 0 0;
    font-size: 2em;
    font-weight: 900;
    text-align: start;
    padding:1.1em;
    box-shadow: 10px 10px 20px 0px black;
    font-family: 'Special Elite';
    padding-left: 1.3em;
}
#join-game:active {
    filter: brightness(0.5);
}

/*------------------------------------------------------------*/
/*                        RECORDS                             */
/*------------------------------------------------------------*/
#api-search {
    font-size:2em;
    color:#222222;
}
#api-search p{
    color:#222222;
}
#records {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.record {
    display:block;
    width:400px;
    padding:2em;
    margin: 1em;
    background-color: #444444;
    box-shadow: #222222 0 5px 5px;
    position: relative;
}
.record.record-template {
    display:none;
    border: 1px solid red;
}
.record .record-content {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}
.record img {
    filter: sepia(1);
    min-height: 100px;
    max-height: 300px;
    min-width: 100px;
    max-width: 100%;
}
.listItem-temp {
    display:none;
}
#jobs ul {
    display:flex;
    flex-wrap: wrap;
    list-style: none;
}
#jobs li {
    padding:0.2em 0.5em;
    margin: 0.1em 0.2em;
    border:1px solid #555555;
    background-color: #444444;
    color: #CCCCCC;
    border-radius: 5px;
}

#loading {
    /* background: radial-gradient(white 10%, transparent 10%), linear-gradient(transparent 40%, #222222 40%, #222222 60%, transparent 60%), linear-gradient(90deg, transparent 40%, #222222 40%, #222222 60%, transparent 60%); */
   
    border: 10px solid grey;
    border-top: 10px solid #AA22AA;
    border-radius: 50px;
    height: 100px;
    width:100px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) rotate(0deg);
    transition: all 1s ease;
    animation:loading-rotate 1s infinite linear;
}
#loading.loaded {
    display: none;
}

@keyframes loading-rotate {
    0% {
        transform: translate(-50%,-50%) rotate(0deg);
    }
    50% {
        transform: translate(-50%,-50%) rotate(180deg);
    }
    100% {
        transform: translate(-50%,-50%) rotate(360deg);
    }
}



/*------------------------------------------------------------*/
/*                        NEWSPAPER                           */
/*------------------------------------------------------------*/

/* #paper {
    background: url(https://images.pexels.com/photos/235985/pexels-photo-235985.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height:auto;
    box-shadow: #222222 5px 5px 5px;
    max-width: 1000px;
}
#paper article {
    font-family: 'Times New Roman', Times, serif;
    display: grid;
    min-height:50vh;
    width:100%;
    grid-template-columns: 5% 40% 10% 40% 5%;
    grid-template-rows: auto auto auto minmax(250px,50%) auto auto;
    grid-template-areas: '. header header header .'
                         '. . date . .'
                         '. headline headline headline .'
                         '. text text pic .'
                         '. text text pic .'
                         '. text2 text2 text2 .';
}
#paper * {
    color: #000000;
}
#article-image {
    background-color: #222222;
    background: url(https://images.pexels.com/photos/2346216/pexels-photo-2346216.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-position: 25% 75%;
    background-repeat: no-repeat;
    background-size: 150%;
    grid-area: pic;
    width:100%;
}

#paper h1 {
    text-align: center;
    grid-area: header;
    font-size: 1.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#paper h2 {
    font-size: 3em;
    text-align: center;
    grid-area: headline;
}
#article-date {
    text-align: center;
    white-space: nowrap;
    grid-area: date;
}
#article-text {
    grid-area: text;
}
#article-text-additional {
    grid-area: text2;
} */



input[type="button"] {
    padding: 0.2em;
    background-color: #333333;
    border: 1px solid #555555;
    border-radius: 3px;
}
input[type="text"] {
    padding: 0.2em;
    background-color: #333333;
    border: 1px solid #555555;
    border-radius: 3px;
}

/*------------------------------------------------------------*/
/*                         MOBILE                             */
/*------------------------------------------------------------*/

@media screen and (max-width: 1080px) {
    * {
        font-size:1.2em;
    }
    #main-nav {
        flex-direction: column;
    }
    #main-nav h1 {
        align-self: flex-start;
        font-size: 2em;
        padding:0.62em;
    }
    #burger-icon {
        display:inline-block;
    }
    #main-nav ul {
        flex-direction: column;
        transition: height 0.2s ease;
        height: auto;
    }
    #main-nav li.active {
        border-top: none;
        border-left: 10px solid #AA22AA;
    }
    #player-nav {
        flex-direction: column;
    }
    input {
        font-size:2em;
        max-width:100%;
    }
    body {
        padding: 7em 0 25em 0;
    }
    
    #main-nav ul.collapsed {
        height:0;
        overflow: hidden;
    }
    #player-nav {
        /* top:5.2em; */
        top:0;
        left:10%;
        width:90%;
        border-top: 1px solid #111111;
    }
    .nav-up {
        top: -23em;
    }
    #player-nav.nav-up {
        top: -23em;
    }
    #player-nav.collapsed {
        height:0;
        overflow: hidden;
    }
    .record {
        width:100%;
    }
    #paper article {
        grid-template-areas: '. header header header .'
                         '. date date date .'
                         '. headline headline headline .'
                         '. pic pic pic .'
                         '. text text text .'
                         '. text2 text2 text2 .'
    }
    #game-screen {
        height: auto;
        grid-template-rows: auto 50vh auto;
        grid-template-columns: 50% 50%;
        grid-template-areas: 'players players'
                             'game game'
                             'alerts projects';
    }

}